/* 
Animator-ThreeJS Stylesheet v1.0
Last Updated: 2016-07-10
Author: William R.A.D. Funk - http://WilliamRobertFunk.com 
*/
body {
  background: #333F47;
}

#context {
  width: 400px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}